* {
    box-sizing: border-box;
}

body {
    background-image: linear-gradient( to right, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%);
    line-height: 1.6;
    margin: 0;
    min-height: 100vh;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1 a {
    color: #333333;
}


/* ---- Navigation ---- */

a {
    text-decoration: none;
}

.logo {
    font-size: 1.55em;
    margin: 0;
}

.main-nav {
    margin-top: 5px;
}

.logo a,
.main-nav a {
    text-align: center;
    display: block;
    padding: 10px 15px;
    text-transform: uppercase;
}

.logo a:hover {
    color: #ffffff;
}

.main-nav a {
    font-size: 0.95em;
    color: #ffffff;
}

.main-nav a:hover {
    color: #093a58;
}

.main-header {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border: 1px solid #ffffff;
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
    border-radius: 5px;
    font-family: "Fjalla One", sans-serif;
}

.row {
    display: flex;
    width: 100%;
}

.search-form {
    width: 60%;
    padding: 30px;
}

.bus-img {
    width: 40%;
    padding: 30px;
    margin-left: 50px;
}

#search img {
    max-width: 100%;
    height: 450px;
    margin-top: 30px;
}


/* ------Search Bus form ------ */

.from,
.date,
.currency,
.to {
    color: #ffffff;
}

.title {
    text-transform: uppercase;
    font-weight: 400;
    font-family: "Fjalla One", sans-serif;
}

form {
    /* width: 70%; */
    margin: 4% 15%;
    font-family: "Sawarabi Mincho", sans-serif;
}

.side {
    margin: 1% 9%;
}

input[type="text"],
input[type="date"],
select {
    margin-bottom: 20px;
    margin-top: 8px;
    width: 95%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

input[type="text"],
input[type="date"],
select:focus {
    border-color: #666;
}

input[type="submit"] {
    margin-bottom: 20px;
    width: 50%;
    padding: 15px;
    font-size: 15px;
    cursor: pointer;
    background-image: linear-gradient(45deg, #874da2 0%, #c43a30 100%);
    border-radius: 3px;
    color: #ffffff;
    text-transform: uppercase;
    font-family: "Fjalla One", sans-serif;
}

input[type="submit"]:hover {
    background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%);
}

.col {
    padding-right: 1em;
    padding-left: 1em;
}

.welcome {
    margin-left: 25px;
    margin-top: 10px;
}

.welcome p {
    font-size: 20px;
    font-family: "Sawarabi Mincho", sans-serif;
}

.side h2,
.welcome h2 {
    color: #ffffff;
    text-transform: uppercase;
    font-family: "Fjalla One", sans-serif;
}

p img {
    display: block;
    visibility: visible;
    max-width: 100%;
    height: 450px;
}

.main-footer {
    background: #333333;
    padding: 2em 0;
    margin-top: 30px;
    color: #fff;
}

.footer-inner {
    display: flex;
    justify-content: space-between;
}

.main-footer h3 {
    color: #fff;
    text-transform: uppercase;
    font-family: "Fjalla One", sans-serif;
}

.contact-left {
    margin-left: 7%;
}

.contact-right {
    margin-right: 5%;
}

.container {
    background: rgba(58, 63, 68, 0.5);
    border-radius: 5px;
    box-shadow: 0 1.5px 0 0 rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

.main {
    position: relative;
    justify-content: center;
    text-align: center;
}

.table-caption {
    color: #ffffff;
}

.table-head,
.table-caption {
    font-family: "Fjalla One", sans-serif;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 100px;
}

table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
}

table caption {
    font-size: 1.5em;
    margin: 0.5em 0 0.75em;
}

table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: 0.35em;
}

table th,
table td {
    padding: 0.625em;
    text-align: center;
}

table th {
    font-size: 0.85em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

@media (min-width: 769px) {
    .main-header,
    .main-nav,
    .row {
        display: flex;
    }
    .main-header {
        flex-direction: column;
        align-items: center;
    }
    .col {
        flex: 1;
        display: flex;
        flex-direction: column;
    }
    @media (min-width: 1025px) {
        .main-header {
            flex-direction: row;
            justify-content: space-between;
        }
        .welcome {
            flex: 2;
        }
    }
}

@media screen and (max-width: 600px) {
    table {
        border: 0;
    }
    table caption {
        font-size: 1.3em;
    }
    table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }
    table tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: 0.625em;
    }
    table td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: 0.8em;
        text-align: right;
    }
    table td::before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }
    table td:last-child {
        border-bottom: 0;
    }
}